<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your post</title>
    <style>
      .container {
        position: relative;
        height: 100vh;
        font-size: 1.5rem;
      }
      .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      h2 {
        font-size: 3rem;
      }
      button {
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
        font-size: 1.2vw;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <h2>Edits your post</h2>
        <p>Post id: <%= post.id %></p>
        <p>Username: <%= post.username %></p>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
          <textarea rows="10" cols="50" name="content">
<%= post.content %> </textarea
          >
          <br />
          <button>submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
