<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Detailed post</h1>
    <div class="container">
      <div class="box">
        <h6><small>id: </small><%= po.id %></h6>
        <h2><small>Username: </small><%= po.username %></h2>
        <h2><small>Content: </small><%= po.content %></h2>
        <a href="http://localhost:3000/posts"><button>Back</button></a>
      </div>
    </div>
  </body>
</html>
