.btn {
  border: 2px solid hsl(300, 100%, 25%);
  width: fit-content;
  margin-left: 1rem;
  padding: 2px;
  text-decoration: none;
  color: hsl(300, 100%, 25%);
  font-size: 2vw;
}

h1 {
  color: purple;
  padding-left: 1rem;
  font-size: 5vw;
}

.box {
  border: 1px solid black;
  padding: 2rem;
  background-color: bisque;
  text-align: center;
  margin: 1rem;
  width: 100vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-size: 2.5vw;
}
.secondDiv {
  display: flex;
  justify-content: center;
  gap: 0.8vw;
}
.container {
  display: flex;
  font-size: 2.5vw;
}

.gg {
  padding: 0.4vw 1.5vw;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 5px;
}
.details {
  text-decoration: none;
  color: black;
}
